# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/example/raftexample-1/
/example/raftexample-1-snap/
/example/raftexample-2/
/example/raftexample-2-snap/
/example/raftexample-3/
/example/raftexample-3-snap/
/example/raftexample
/.idea/
